In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0     False        True
1      18  33.770         1      True       False
2      28  33.000         3      True       False
3      33  22.705         0      True       False
4      32  28.880         0      True       False
...   ...     ...       ...       ...         ...
1333   50  30.970         3      True       False
1334   18  31.920         0     False       False
1335   18  36.850         0     False       False
1336   21  25.800         0     False       False
1337   61  29.070         0     False        True

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.ensemble import RandomForestRegressor

In [12]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}
grid = GridSearchCV(RandomForestRegressor(random_state=42), param_grid, refit=True, verbose=3, n_jobs=-1)
grid.fit(independent, dependent)
print("Best params:", grid.best_params_)

Fitting 5 folds for each of 81 candidates, totalling 405 fits

C:\Users\Felex\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Best params: {'max_depth': 10, 'min_samples_leaf': 4, 'min_samples_split': 10, 'n_estimators': 100}

In [28]:
re=grid.cv_results_

In [29]:
table=pd.DataFrame.from_dict(re)

In [30]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_depth,param_min_samples_leaf,param_min_samples_split,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.599155,0.046830,0.028310,0.025937,None,1,2,50,"{'max_depth': None, 'min_samples_leaf': 1, 'mi...",0.847118,0.765868,0.852885,0.821096,0.832023,0.823798,0.031051,81
1,1.157062,0.077911,0.053129,0.040431,None,1,2,100,"{'max_depth': None, 'min_samples_leaf': 1, 'mi...",0.849914,0.769660,0.855520,0.818034,0.836538,0.825933,0.030958,79
2,2.320169,0.023521,0.043230,0.015904,None,1,2,200,"{'max_depth': None, 'min_samples_leaf': 1, 'mi...",0.848661,0.770714,0.856665,0.819519,0.837265,0.826565,0.030587,76
3,0.482231,0.056882,0.034007,0.020074,None,1,5,50,"{'max_depth': None, 'min_samples_leaf': 1, 'mi...",0.859137,0.780378,0.867865,0.826548,0.840854,0.834957,0.030828,72
4,0.787921,0.028659,0.023319,0.005302,None,1,5,100,"{'max_depth': None, 'min_samples_leaf': 1, 'mi...",0.861702,0.781962,0.868634,0.824735,0.844412,0.836289,0.031122,68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,0.811160,0.073162,0.030705,0.017361,20,4,5,100,"{'max_depth': 20, 'min_samples_leaf': 4, 'min_...",0.875486,0.795730,0.888845,0.837768,0.858836,0.851333,0.032627,8
77,1.563970,0.044801,0.058655,0.012903,20,4,5,200,"{'max_depth': 20, 'min_samples_leaf': 4, 'min_...",0.874144,0.795389,0.887270,0.838041,0.859180,0.850805,0.032182,24
78,0.351429,0.042093,0.016367,0.008017,20,4,10,50,"{'max_depth': 20, 'min_samples_leaf': 4, 'min_...",0.873377,0.797232,0.888284,0.838357,0.859212,0.851293,0.031650,12
79,0.724325,0.030413,0.026679,0.009761,20,4,10,100,"{'max_depth': 20, 'min_samples_leaf': 4, 'min_...",0.875803,0.796639,0.888144,0.838325,0.859510,0.851684,0.032189,2
80,1.165082,0.095596,0.020543,0.006702,20,4,10,200,"{'max_depth': 20, 'min_samples_leaf': 4, 'min_...",0.874775,0.795874,0.887138,0.838700,0.859872,0.851272,0.032062,14

In [31]:
import pickle
filename = 'finalized_model_SVR.sav'
pickle.dump(grid,open(filename,'wb'))

In [32]:
loaded_model = pickle.load(open('finalized_model_SVR.sav', 'rb'))

In [33]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age: 4
BMI: 56
Children: 5
Sex Male 0 or 1: 5
Smoker Yes 0 or 1: 3

In [34]:
Future_Prediction=loaded_model.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[40167.98331338]

C:\Users\Felex\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(